*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --background-color: linear-gradient(to top right,rgb(28, 231, 170) ,rgb(166, 233, 230));
    --box-color: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255,255,255,  0.3));;
}
.glass{
    height: 100vh;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box{
    display: flex;
    width: 70%;
    height: 90vh;
    background: var(--box-color);
    border-radius: 2rem;
    backdrop-filter: blur(5px);
    z-index: 3;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));

}
.top {
    top: 7px;
    right: 132px;
}
.bottom {
    bottom: 7px;
    left: 132px;
}

/* User */
.dashboard{
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
    border-radius: 2rem;
}


.dashboard h1{
    font-size: 15px;
}
.user p{
    font-size: 13px;
}

.user img{
    width: 12%;
    border-radius: 50%;
} 

/* links */


.link{
    display: flex;
    margin: 2rem 0rem; 
    align-items: center;
}

.link img{
    width: 20px;
}
.link h1{
    padding: 0rem 2rem;
}


/* pro */
.pro{
    width: 80%;
    border-radius: 1rem;
    /* background: rgb(121, 219, 219); */
    background: var(--background-color);
}
.pro img{
    width: 40%;
}

.games-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem;
    flex: 2;
}

.games-details input{
    background: var(--box-color);
    border: none;
    padding: 0.5rem;
    width: 60%;
    border-radius: 2rem;
}

.activegame input[type=text]{
    pointer-events: none;
}

.card{
    display: flex;
    background: linear-gradient(to left top, rgba(255, 255, 255, 1), rgba(255,255,255,  0.8));
    border-radius: 2rem;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
}
.card img{
    width: 15%;
    margin: 1rem;

}
.card h1{
    font-size: 25px;
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.progress-bar{
    height: 2rem;
    width: 100%;
    background-color: rgb(236,236,236);
    /* background-color: red;s */
    /* background-color: rgb(184, 174, 174); */
    border-radius: 2rem;
    position: relative;
}

.progress-bar::before{
    content: "";
    position: absolute;
    height: 2rem;
    width: 60%;
    background: var(--background-color);
    /* background: red; */
    border-radius: 2rem;
}
.percentage{
    background: var(--background-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color:  */
}


